In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("C:\\Users\\Dikshant Vats\\Documents\\MLP\\Water Treatment Data Set .csv")

In [3]:
data.head(5)

,Unnamed: 0,Q-E,ZN-E,PH-E,DBO-E,DQO-E,SS-E,SSV-E,SED-E,COND-E,...,COND-S,RD-DBO-P,RD-SS-P,RD-SED-P,RD-DBO-S,RD-DQO-S,RD-DBO-G,RD-DQO-G,RD-SS-G,RD-SED-G
0,D-1/3/90,44101,1.5,7.8,?,407,166,66.3,4.5,2110,...,2000,?,58.8,95.5,?,70,?,79.4,87.3,99.6
1,D-2/3/90,39024,3,7.7,?,443,214,69.2,6.5,2660,...,2590,?,60.7,94.8,?,80.8,?,79.5,92.1,100
2,D-4/3/90,32229,5,7.6,?,528,186,69.9,3.4,1666,...,1888,?,58.2,95.6,?,52.9,?,75.8,88.7,98.5
3,D-5/3/90,35023,3.5,7.9,205,588,192,65.6,4.5,2430,...,1840,33.1,64.2,95.3,87.3,72.3,90.2,82.3,89.6,100
4,D-6/3/90,36924,1.5,8.0,242,496,176,64.8,4,2110,...,2120,?,62.7,95.6,?,71,92.1,78.2,87.5,99.5

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  527 non-null    object
 1   Q-E         527 non-null    object
 2   ZN-E        527 non-null    object
 3   PH-E        527 non-null    float64
 4   DBO-E       527 non-null    object
 5   DQO-E       527 non-null    object
 6   SS-E        527 non-null    object
 7   SSV-E       527 non-null    object
 8   SED-E       527 non-null    object
 9   COND-E      527 non-null    int64
 10  PH-P        527 non-null    float64
 11  DBO-P       527 non-null    object
 12  SS-P        527 non-null    int64
 13  SSV-P       527 non-null    object
 14  SED-P       527 non-null    object
 15  COND-P      527 non-null    int64
 16  PH-D        527 non-null    float64
 17  DBO-D       527 non-null    object
 18  DQO-D       527 non-null    object
 19  SS-D        527 non-null    object
 20  SSV-D       527 non-null    object
 21  SED-D       527 non-null    object
 22  COND-D      527 non-null    int64
 23  PH-S        527 non-null    object
 24  DBO-S       527 non-null    object
 25  DQO-S       527 non-null    object
 26  SS-S        527 non-null    object
 27  SSV-S       527 non-null    object
 28  SED-S       527 non-null    object
 29  COND-S      527 non-null    object
 30  RD-DBO-P    527 non-null    object
 31  RD-SS-P     527 non-null    object
 32  RD-SED-P    527 non-null    object
 33  RD-DBO-S    527 non-null    object
 34  RD-DQO-S    527 non-null    object
 35  RD-DBO-G    527 non-null    object
 36  RD-DQO-G    527 non-null    object
 37  RD-SS-G     527 non-null    object
 38  RD-SED-G    527 non-null    object
dtypes: float64(3), int64(4), object(32)
memory usage: 160.7+ KB

In [5]:
data.replace("?",0)

,Unnamed: 0,Q-E,ZN-E,PH-E,DBO-E,DQO-E,SS-E,SSV-E,SED-E,COND-E,...,COND-S,RD-DBO-P,RD-SS-P,RD-SED-P,RD-DBO-S,RD-DQO-S,RD-DBO-G,RD-DQO-G,RD-SS-G,RD-SED-G
0,D-1/3/90,44101,1.5,7.8,0,407,166,66.3,4.5,2110,...,2000,0,58.8,95.5,0,70,0,79.4,87.3,99.6
1,D-2/3/90,39024,3,7.7,0,443,214,69.2,6.5,2660,...,2590,0,60.7,94.8,0,80.8,0,79.5,92.1,100
2,D-4/3/90,32229,5,7.6,0,528,186,69.9,3.4,1666,...,1888,0,58.2,95.6,0,52.9,0,75.8,88.7,98.5
3,D-5/3/90,35023,3.5,7.9,205,588,192,65.6,4.5,2430,...,1840,33.1,64.2,95.3,87.3,72.3,90.2,82.3,89.6,100
4,D-6/3/90,36924,1.5,8.0,242,496,176,64.8,4,2110,...,2120,0,62.7,95.6,0,71,92.1,78.2,87.5,99.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,D-26/8/91,32723,0.16,7.7,93,252,176,56.8,2.3,894,...,942,0,62.3,93.3,69.8,75.9,79.6,78.6,96.6,99.6
523,D-27/8/91,33535,0.32,7.8,192,346,172,68.6,4,988,...,950,0,58.3,97.8,83,59.1,91.1,74.6,90.7,100
524,D-28/8/91,32922,0.3,7.4,139,367,180,64.4,3,1060,...,1136,0,65,97.1,76.2,66.4,82,77.1,88.9,99
525,D-29/8/91,32190,0.3,7.3,200,545,258,65.1,4,1260,...,1326,39.8,65.9,97.1,81.7,70.9,89.5,87,89.5,99.8
526,D-30/8/91,30488,0.21,7.5,152,300,132,69.7,0,1073,...,1224,0,69.5,0,81.7,76.4,0,81.7,86.4,0

In [7]:
data.isna().sum()

Unnamed: 0    0
Q-E           0
ZN-E          0
PH-E          0
DBO-E         0
DQO-E         0
SS-E          0
SSV-E         0
SED-E         0
COND-E        0
PH-P          0
DBO-P         0
SS-P          0
SSV-P         0
SED-P         0
COND-P        0
PH-D          0
DBO-D         0
DQO-D         0
SS-D          0
SSV-D         0
SED-D         0
COND-D        0
PH-S          0
DBO-S         0
DQO-S         0
SS-S          0
SSV-S         0
SED-S         0
COND-S        0
RD-DBO-P      0
RD-SS-P       0
RD-SED-P      0
RD-DBO-S      0
RD-DQO-S      0
RD-DBO-G      0
RD-DQO-G      0
RD-SS-G       0
RD-SED-G      0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  527 non-null    object
 1   Q-E         527 non-null    object
 2   ZN-E        527 non-null    object
 3   PH-E        527 non-null    float64
 4   DBO-E       527 non-null    object
 5   DQO-E       527 non-null    object
 6   SS-E        527 non-null    object
 7   SSV-E       527 non-null    object
 8   SED-E       527 non-null    object
 9   COND-E      527 non-null    int64
 10  PH-P        527 non-null    float64
 11  DBO-P       527 non-null    object
 12  SS-P        527 non-null    int64
 13  SSV-P       527 non-null    object
 14  SED-P       527 non-null    object
 15  COND-P      527 non-null    int64
 16  PH-D        527 non-null    float64
 17  DBO-D       527 non-null    object
 18  DQO-D       527 non-null    object
 19  SS-D        527 non-null    object
 20  SSV-D       527 non-null    object
 21  SED-D       527 non-null    object
 22  COND-D      527 non-null    int64
 23  PH-S        527 non-null    object
 24  DBO-S       527 non-null    object
 25  DQO-S       527 non-null    object
 26  SS-S        527 non-null    object
 27  SSV-S       527 non-null    object
 28  SED-S       527 non-null    object
 29  COND-S      527 non-null    object
 30  RD-DBO-P    527 non-null    object
 31  RD-SS-P     527 non-null    object
 32  RD-SED-P    527 non-null    object
 33  RD-DBO-S    527 non-null    object
 34  RD-DQO-S    527 non-null    object
 35  RD-DBO-G    527 non-null    object
 36  RD-DQO-G    527 non-null    object
 37  RD-SS-G     527 non-null    object
 38  RD-SED-G    527 non-null    object
dtypes: float64(3), int64(4), object(32)
memory usage: 160.7+ KB